APP_ENV=production
POD_NAMESPACE=local

BOR_API_VERSION=/api/v1

SOLR_SVC_TEST_URL=http://localhost:8884/solr

SOLR_BATCH_UPDATE_SIZE=50000
REINDEX_CORE=False
PRELOADER_JOB=False

ACCOUNT_SVC_TIMEOUT=20

# ##Local
SOLR_SVC_URL=http://localhost:8899/solr
BOR_API_INTERNAL_URL=

KEYCLOAK_AUTH_TOKEN_URL=
BUSINESS_SEARCH_SERVICE_ACCOUNT_CLIENT_ID=
BUSINESS_SEARCH_SERVICE_ACCOUNT_SECRET=

DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST_LEAR=localhost
DATABASE_PORT=5432

ORACLE_DB_NAME=
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_HOST=localhost
ORACLE_PORT=1521

# ##DEV

# ##TEST

# ##PROD
