POD_NAMESPACE=local

BOR_API_VERSION=/api/v1
BOR_API_INTERNAL_URL=

SOLR_BATCH_UPDATE_SIZE=8000
SQL_BATCH_QUERY_SIZE=1000000
REINDEX_CORE=True
PRELOADER_JOB=True

# SENTRY_DSN=
SENTRY_TSR=1.0

###Local
SOLR_SVC_LEADER_CORE=
SOLR_SVC_FOLLOWER_CORE=
SOLR_SVC_LEADER_URL=
SOLR_SVC_FOLLOWER_URL=

# DATABASE_HOST_LEAR=
# DATABASE_NAME=
# DATABASE_PASSWORD=
# DATABASE_PORT=
# DATABASE_USERNAME=

ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_DB_NAME=
ORACLE_HOST=
ORACLE_PORT=

###DEV
# SOLR_SVC_LEADER_CORE=bor
# SOLR_SVC_FOLLOWER_CORE=bor_follower
# SOLR_SVC_LEADER_URL=
# SOLR_SVC_FOLLOWER_URL=
# BOR_API_INTERNAL_URL=

KEYCLOAK_AUTH_TOKEN_URL=
NDS_SERVICE_ACCOUNT_CLIENT_ID=
NDS_SERVICE_ACCOUNT_SECRET=

DATABASE_HOST_LEAR=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USERNAME=

###TEST

###SANDBOX

###PROD
