DEPLOYMENT_ENV=development

BOR_API_VERSION=/api/v1

SOLR_BATCH_UPDATE_SIZE=8000
REINDEX_CORE=True
PRELOADER_JOB=True

###Local

BOR_API_INTERNAL_URL=http://127.0.0.1:5000
SOLR_SVC_LEADER_URL=http://localhost:8883/solr
SOLR_SVC_FOLLOWER_URL=http://localhost:8883/solr

DATABASE_HOST_LEAR=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_USERNAME=

ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_DB_NAME=
ORACLE_HOST=
ORACLE_PORT=

DATABASE_USERNAME_BTR=
DATABASE_PASSWORD_BTR=
DATABASE_NAME_BTR=
DATABASE_HOST_BTR=
DATABASE_PORT_BTR=

###DEV
# BOR_API_INTERNAL_URL=
# SOLR_SVC_LEADER_URL=
# SOLR_SVC_FOLLOWER_URL=

ACCOUNT_SVC_AUTH_URL=
ACCOUNT_SVC_CLIENT_ID=
ACCOUNT_SVC_CLIENT_SECRET=

# DATABASE_NAME=
# DATABASE_USERNAME=
# DATABASE_CONNECTION_NAME=

# DATABASE_NAME_BTR=
# DATABASE_USERNAME_BTR=
# DATABASE_CONNECTION_NAME_BTR=

###TEST

###SANDBOX

###PROD
