DEPLOYMENT_ENV=development

# Registry Integration Services
BUSINESS_API_URL=
BUSINESS_API_VERSION_2=/api/v2
BOR_API_INTERNAL_URL=
BOR_API_VERSION=/api/v1

# Service Account
ACCOUNT_SVC_AUTH_URL=
NDS_SERVICE_ACCOUNT_CLIENT_ID=
NDS_SERVICE_ACCOUNT_SECRET=
