# Flask shite
FLASK_ENV=development
FLASK_APP=app.py

# Namespace
POD_NAMESPACE=local

# nats
NATS_SERVERS=nats://localhost:4222
NATS_CLUSTER_ID=test-cluster

NATS_ENTITY_EVENTS_SUBJECT=entity.events

NATS_BOR_SOLR_CLIENT_NAME=bor.solr.worker
NATS_BOR_SOLR_QUEUE=bor-solr-worker

# Registry Integration Services
LEGAL_API_URL=https://legal-api-dev.apps.silver.devops.gov.bc.ca
LEGAL_API_VERSION_2=/api/v2
BOR_API_INTERNAL_URL=https://bor-api-nr4i2ahhhq-nn.a.run.app
BOR_API_VERSION=/api/v1

AUTH_API_TIMEOUT=30
BUSINESS_API_TIMEOUT=30

# Service Account
KEYCLOAK_AUTH_TOKEN_URL=
NDS_SERVICE_ACCOUNT_CLIENT_ID=
NDS_SERVICE_ACCOUNT_SECRET=

# INTEGRATION TESTS
NOT_GITHUB_CI=True
